#signup-form input{
        margin-bottom:20px;
        margin-left:50px;
    }

.navbar-nav .nav-item a{
	cursor: pointer !important;
}
.article_summary{
	border:1px solid gray;
	padding: 15px;
	margin-top: 15px;
	box-shadow: 
}

.sign-text{
	font-weight: bold;
	cursor: pointer;
}
.login_container{
	display: none;
}

/*.modifyposttable  tr td:nth-last-child(1){
	text-align: center;
}*/

.modifyposttable textarea{
	width: 100%;
	height: 200px;
	border: none;
}
#ttt::after{
	content: "HELLO";
}
#userresponse-table{
	margin:auto;
}